* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

div{
    padding: 10vw;
    background-color: rgb(22, 21, 21);
    text-align: center;
}

img {
    border: 1rem solid white;
    transition: box-shadow;
    
}

/* ********************* def Animation *********** */

.animation:hover {
    animation-name: shaddow;
    animation-duration: 10s;

    animation-iteration-count: 1000;

    animation-timing-function: ease-in-out;
}


/* **************** style Animation *********** */

@keyframes shaddow {
    0%{ box-shadow: 2rem 2rem 2rem 1rem yellow, 3rem 1rem 2rem 2rem orange ;
    }

    25%{  box-shadow: -2rem -2rem 2rem 1rem rgb(221, 230, 156); 
    }
    40%{  box-shadow: -2rem -2rem 2rem 10rem rgb(237, 86, 186); 
    }

    60%{  box-shadow: 2rem -2rem 100rem 1rem rgb(227, 51, 11)
    }
100% {  box-shadow: 5rem 1rem 4rem 5rem rgb(255, 102, 0); 
}
}