* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

div{
    padding: 10vw;
    background-color: rgb(22, 21, 21);
    text-align: center;
}

img {
    border: 1rem solid white;
    
}

/* ********************* def Animation *********** */

.animation{
    animation-name: shaddow;

    animation-duration: 8s;

    animation-iteration-count: 100;

    animation-timing-function: linear;
}


/* **************** style Animation *********** */

@keyframes shaddow{
    0%{ transform: box-shadow 2rem 2rem 2rem yellow; ;
        transform: translate(0px, 0px);
    }




100% { transform: box-shadow 5rem 1rem 4rem orange; 
    transform: translate(100px 100px);
}
}
